{
    "root": true,
    "parser": "@typescript-eslint/parser",
    "plugins": [
      "@typescript-eslint"
    ],
    "extends": [
      // "eslint:recommended",
      // "plugin:@typescript-eslint/recommended",
      "standard-with-typescript",
      "prettier"
    ],
    "parserOptions": {
      "project": "./applications/backend/tsconfig.json"
    },
    "rules": {
      "@typescript-eslint/no-unused-vars": ["warn"]
    }
  }
